html {
    font-family: 'PT Sans', Roboto, verdana, Merriweather, sans-serif, system-ui;
    font-size: 18px;
    color: #444;
}

body {
    margin: 0
}

nav {
    padding: 1em 1.5em;
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: solid 1px rgb(216, 216, 216);
}

.site-title, h1 {
    color: #000;
}

article {
    max-width: 838px;
    margin: 4em auto;
    padding: 0 1.5em;
}

article > header {
    margin: 0 0 3em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0 .25em;
}



.byline {
    text-align: center;
    color: #888
}

p {
    line-height: 1.6;
    margin: 2em 0;
}

a {
    color: #0068df;
}

.code {
    /* background: #fafafa; */
    /* border: 1px solid #d9d9d9; */
    padding: .25em 1em;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.6;
    /* box-shadow: 0 2px 4px 2px rgb(0 0 0 / 15%); */
    border-radius: 3px;
    box-sizing: border-box;
    /* background: rgb(245, 245, 245); */
    background: rgb(248, 249, 250);
    border: 1px solid  hsl(210 17% 88% / 1);
    color: #222;
}

span.code {
    padding: .15em .3em;
    /* border-radius: 4px; */
}

pre {
    margin: .5em 0;
}

/* Minimum width */
@media (max-width: 900px) {
    .code {
        overflow-x: scroll;
    }
  }